.searchbar-wrapper {
  width: 25%;

  .search-form {
    position: relative;
    borderRadius: 1;
    color: #000;
    marginLeft: 0;
    width: 100%;
    background: #fff;

    .inputRoot{
      width: 100%;
    }

    .search-input {
      background: #fff;
      padding-left: 5px;
    }


    .searchIcon-wrapper {
      width: 10%;
      height: 100%;
      position: relative;
      pointerEvents: none;
      display: flex;
      alignItems: center;
      justifyContent: center;
      float: right;
      padding: 4px;
    }
  }
}